
@import './components/LoadingIcon';
@import './components/SubjectSelect';

.line-h-1 {
  line-height: 1;
}

select {
  background: white;
  padding: 4px;
  width: 8rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Select {
  font-size: 0.85rem;
}

.Resource:nth-child(even) {
  background: theme-color('light');
}

.btn {
  cursor: pointer;
}

.Button {
  @extend .btn, .p-0, .mb-1;
  outline: none;
  font-size: 1.5rem;
}

.heart {
  background: theme-color('secondary');
  height: 10px;
  transform: rotate(-45deg);
  width: 10px;
}
.heart--red {
  background: theme-color('danger');
}
.heart:before,
.heart:after {
  content: "";
  background-color: theme-color('secondary');
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}
.heart--red:after, .heart--red:before { background: theme-color('danger'); }
.heart:before {
  top: -5px;
  left: 0;
}

.notFoundFun {

  .blink::after {
    content: attr(data-end);
    animation: blink 1s infinite;
  }
}

@keyframes blink {
  0% {
    color: black;
  }
  50% {
    color: transparent;
  }
  100% {
    color: black;
  }
}

@media (max-width: 800px) {
  .Resource {
    font-size: 0.95rem;
  }

  .Resource--title {
    font-size: 1.3rem;
  }

  .Select {
    font-size: 0.75rem;

    div {
      select {
        font-size: 1rem;
      }
    }
  }
}