
.line-h-1 {
  line-height: 1;
}

select {
  background: white;
  padding: 4px;
  width: 8rem;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Select {
  font-size: 0.85rem;
}

.Resource:nth-child(even) {
  background: theme-color('light');
}

.fav {
  outline: none;
  font-size: 1.5rem;
}

@media (max-width: 800px) {
  .Resource {
    font-size: 0.95rem;
  }

  .Resource--title {
    font-size: 1.3rem;
  }

  .Select {
    font-size: 0.75rem;

    div {
      select {
        font-size: 1rem;
      }
    }
  }
}